<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginSubmit</title>
</head>
<body class="bg-[#F5EDCE]">
    <h1 class="text-center text-[#5BC0F8] relative top-44 text-3xl font-bold">Thank you for logging in</h1>
    <button style="background-color: #9D3C72" class="text-lg p-3 rounded-3xl relative top-[250px] left-[600px]
        border-y-2 hover:border-indigo-300 border-rose-800"><a href="/" >Back to Home Page</a></button>
</body>
</html>